# Rust build artifacts
/target/
**/*.rs.bk
*.pdb

# OpenVPN configurations and temporary credentials
*.ovpn
*.txt
*.tmp
*.msi

# Logs
*.log

# Cache and WebView2 User Data
.vpngate_cache.json
*.WebView2/
*.WebView2

# IDE / OS metadata
.idea/
.vscode/
Thumbs.db
Desktop.ini
